In [36]:
import requests
import pandas as pd
from datetime import datetime, timedelta
# df=pd.read_csv('/content/ind_nifty50list.csv')
# df=pd.read_csv('complete.csv')
# df_eq=pd.read_csv('/content/EQUITY_L (1).csv')
# df_eq_500=pd.read_csv('/content/ind_nifty500list.csv')
df_eq_500=pd.read_csv('/content/ALL_INDEX_LIST_NSE.csv')

# names_to_search = [row['name'] for index, row in df_eq_500.iterrows()]
instrument_key = [row['instrument_key'] for index, row in df_eq_500.iterrows()]
names = [row['name'] for index, row in df_eq_500.iterrows()]
# name
instrument_key=instrument_key[2:]
names=names[2:]
print(names)
print(instrument_key)
# names_to_search

['NIFTY100 EQL Wgt', 'NIFTY100 LowVol30', 'NIFTY Alpha 50', 'NIFTY MIDCAP 150', 'NIFTY SMLCAP 50', 'NIFTY SMLCAP 250', 'NIFTY MIDSML 400', 'NIFTY200 QUALTY30', 'Nifty FinSrv25 50', 'NIFTY AlphaLowVol', 'Nifty200Momentm30', 'Nifty100ESGSecLdr', 'NIFTY100 ESG', 'NIFTY M150 QLTY50', 'NIFTY INDIA MFG', 'Nifty200 Alpha 30', 'NiftyM150Momntm50', 'Nifty IT', 'Nifty Next 50', 'Nifty Bank', 'NIFTY MIDCAP 100', 'Nifty 500', 'Nifty 100', 'Nifty Midcap 50', 'Nifty Realty', 'Nifty Infra', 'Nifty Energy', 'Nifty FMCG', 'Nifty MNC', 'Nifty Pharma', 'Nifty PSE', 'Nifty PSU Bank', 'Nifty Serv Sector', 'India VIX', 'Nifty Auto', 'Nifty Metal', 'Nifty Media', 'NIFTY SMLCAP 100', 'Nifty 200', 'Nifty Div Opps 50', 'Nifty Commodities', 'Nifty Consumption', 'Nifty Fin Service', 'Nifty50 Div Point', 'Nifty100 Liq 15', 'Nifty CPSE', 'Nifty GrowSect 15', 'Nifty50 PR 2x Lev', 'Nifty50 PR 1x Inv', 'Nifty50 TR 2x Lev', 'Nifty50 TR 1x Inv', 'Nifty50 Value 20', 'Nifty Mid Liq 15', 'Nifty Pvt Bank', 'NIFTY100 Qualty30', 'Nifty GS 8 13Yr', 'Nifty GS 10Yr', 'Nifty GS 10Yr Cln', 'Nifty GS 4 8Yr', 'Nifty GS 11 15Yr', 'Nifty GS 15YrPlus', 'Nifty GS Compsite', 'NIFTY HEALTHCARE', 'NIFTY CONSR DURBL', 'NIFTY OIL AND GAS', 'NIFTY500 MULTICAP', 'NIFTY LARGEMID250', 'NIFTY MID SELECT', 'NIFTY TOTAL MKT', 'NIFTY MICROCAP250', 'NIFTY IND DIGITAL']
['NSE_INDEX|NIFTY100 EQL Wgt', 'NSE_INDEX|NIFTY100 LowVol30', 'NSE_INDEX|NIFTY Alpha 50', 'NSE_INDEX|NIFTY MIDCAP 150', 'NSE_INDEX|NIFTY SMLCAP 50', 'NSE_INDEX|NIFTY SMLCAP 250', 'NSE_INDEX|NIFTY MIDSML 400', 'NSE_INDEX|NIFTY200 QUALTY30', 'NSE_INDEX|Nifty FinSrv25 50', 'NSE_INDEX|NIFTY AlphaLowVol', 'NSE_INDEX|Nifty200Momentm30', 'NSE_INDEX|Nifty100ESGSecLdr', 'NSE_INDEX|NIFTY100 ESG', 'NSE_INDEX|NIFTY M150 QLTY50', 'NSE_INDEX|NIFTY INDIA MFG', 'NSE_INDEX|Nifty200 Alpha 30', 'NSE_INDEX|NiftyM150Momntm50', 'NSE_INDEX|Nifty IT', 'NSE_INDEX|Nifty Next 50', 'NSE_INDEX|Nifty Bank', 'NSE_INDEX|NIFTY MIDCAP 100', 'NSE_INDEX|Nifty 500', 'NSE_INDEX|Nifty 100', 'NSE_INDEX|Nifty Midcap 50', 'NSE_INDEX|Nifty Realty', 'NSE_INDEX|Nifty Infra', 'NSE_INDEX|Nifty Energy', 'NSE_INDEX|Nifty FMCG', 'NSE_INDEX|Nifty MNC', 'NSE_INDEX|Nifty Pharma', 'NSE_INDEX|Nifty PSE', 'NSE_INDEX|Nifty PSU Bank', 'NSE_INDEX|Nifty Serv Sector', 'NSE_INDEX|India VIX', 'NSE_INDEX|Nifty Auto', 'NSE_INDEX|Nifty Metal', 'NSE_INDEX|Nifty Media', 'NSE_INDEX|NIFTY SMLCAP 100', 'NSE_INDEX|Nifty 200', 'NSE_INDEX|Nifty Div Opps 50', 'NSE_INDEX|Nifty Commodities', 'NSE_INDEX|Nifty Consumption', 'NSE_INDEX|Nifty Fin Service', 'NSE_INDEX|Nifty50 Div Point', 'NSE_INDEX|Nifty100 Liq 15', 'NSE_INDEX|Nifty CPSE', 'NSE_INDEX|Nifty GrowSect 15', 'NSE_INDEX|Nifty50 PR 2x Lev', 'NSE_INDEX|Nifty50 PR 1x Inv', 'NSE_INDEX|Nifty50 TR 2x Lev', 'NSE_INDEX|Nifty50 TR 1x Inv', 'NSE_INDEX|Nifty50 Value 20', 'NSE_INDEX|Nifty Mid Liq 15', 'NSE_INDEX|Nifty Pvt Bank', 'NSE_INDEX|NIFTY100 Qualty30', 'NSE_INDEX|Nifty GS 8 13Yr', 'NSE_INDEX|Nifty GS 10Yr', 'NSE_INDEX|Nifty GS 10Yr Cln', 'NSE_INDEX|Nifty GS 4 8Yr', 'NSE_INDEX|Nifty GS 11 15Yr', 'NSE_INDEX|Nifty GS 15YrPlus', 'NSE_INDEX|Nifty GS Compsite', 'NSE_INDEX|NIFTY HEALTHCARE', 'NSE_INDEX|NIFTY CONSR DURBL', 'NSE_INDEX|NIFTY OIL AND GAS', 'NSE_INDEX|NIFTY500 MULTICAP', 'NSE_INDEX|NIFTY LARGEMID250', 'NSE_INDEX|NIFTY MID SELECT', 'NSE_INDEX|NIFTY TOTAL MKT', 'NSE_INDEX|NIFTY MICROCAP250', 'NSE_INDEX|NIFTY IND DIGITAL']

In [37]:
# df_eq
# intersection = pd.Series(list(set(df['tradingsymbol']).intersection(set(df_eq_500['Symbol']))))
# intersection

In [38]:
# set_difference = pd.Series(list(set(df_eq['tradingsymbol']).difference(set(df['tradingsymbol']))))
# set_difference

In [39]:
# -*- coding: utf-8 -*-
"""historical_data_in_simple_table_for_n_years.ipynb

Automatically generated by Colaboratory.

Original file is located at
    https://colab.research.google.com/drive/1RJSU82yAjVUV06cGK7IchzBvXZ3Bk1yc
"""


import requests
import pandas as pd
from datetime import datetime, timedelta

# Function to fetch historical data for a given time period
def fetch_historical_data(symbol, start_date, end_date):
    url = f'https://api.upstox.com/v2/historical-candle/{symbol}/1minute/{end_date}/{start_date}'
    headers = {'Accept': 'application/json'}
    response = requests.get(url, headers=headers)

    if response.status_code == 200:
        data = response.json().get('data', [])
        return pd.DataFrame(data)
    else:
        print(f"Error: {response.status_code} - {response.text}")
        return None

# Function to fetch instrument_keys based on a list of names using boolean indexing
# def get_instrument_keys(df, names):
#     instrument_keys = {}

#     for name in names:
#         mask = df['tradingsymbol'] == name
#         if mask.any():
#             instrument_key = df.loc[mask, 'instrument_key'].iloc[0]
#             instrument_keys[name.lower()] = instrument_key
#         else:
#             print(f"No instrument_key found for name: {name}")

#     return instrument_keys

# Example usage for multiple names
# names_to_search = ['RELIANCE', 'TATASTEEL', 'INFY']
# names_to_search = [row['Symbol'] for index, row in df_eq_500.iterrows()]
# names_to_search = intersection

# instrument_keys_result = get_instrument_keys(df_eq_500,names_to_search)
# instrument_key

# Specify the number of years to fetch historical data
num_years = 5

# Dictionary to store DataFrames
dfs = {}

# Loop through each instrument key and fetch historical data
# for name, instrument_key in instrument_key.items():
for name, instrument_key in zip(names,instrument_key):
    if instrument_key is not None:
        df_symbol = pd.DataFrame()

        for i in range(num_years):
            end_date = (datetime.today() - timedelta(days=365 * i)).strftime('%Y-%m-%d')
            start_date = (datetime.today() - timedelta(days=365 * (i + 1))).strftime('%Y-%m-%d')

            # Fetch historical data for the current time period
            df_current_period = fetch_historical_data(instrument_key, start_date, end_date)

            # Append the data to the df_symbol DataFrame
            if df_current_period is not None:
                df_symbol = pd.concat([df_symbol, df_current_period], ignore_index=True)

        # Convert timestamp column to datetime format
        if 'timestamp' in df_symbol.columns:
            df_symbol['timestamp'] = pd.to_datetime(df_symbol['timestamp'])

        # Store the DataFrame in the dictionary with a name like df_reliance
        dfs[f"df_{name.lower()}"] = df_symbol

# Access individual DataFrames using dfs dictionary
# df_reliance = dfs.get('df_reliance', pd.DataFrame())
# df_tatasteel = dfs.get('df_tatasteel', pd.DataFrame())
# df_infy = dfs.get('df_infy', pd.DataFrame())

# Print individual DataFrames
# print("DataFrame for RELIANCE:")

# print("\nDataFrame for TATASTEEL:")
# print(df_tatasteel)

# print("\nDataFrame for INFY:")
# print(df_infy)

import pandas as pd

# Function to clean the data for a given DataFrame
def clean_data(df):
    # Create an empty DataFrame with the desired column names
    columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'open interest']
    df_cleaned_data = pd.DataFrame(columns=columns)

    # Iterate through each row in the original DataFrame
    for index, row in df.iterrows():
        # Extract data from the list
        row_data = row[0] if isinstance(row[0], list) else row[0][0]  # Assuming each row contains a list or list within a list

        # Reshape the row_data if needed
        if isinstance(row_data, list) and len(row_data) == 1:
            row_data = row_data[0]

        # Create a temporary DataFrame
        temp_df = pd.DataFrame([row_data], columns=columns[:len(row_data)])

        # Append the temporary DataFrame to the cleaned DataFrame
        df_cleaned_data = pd.concat([df_cleaned_data, temp_df], ignore_index=True)

    # Convert timestamp column to datetime format
    df_cleaned_data['timestamp'] = pd.to_datetime(df_cleaned_data['timestamp'])

    return df_cleaned_data

# Example usage for each DataFrame
# df_reliance_cleaned = clean_data(df_reliance)
# df_tatasteel_cleaned = clean_data(df_tatasteel)
# df_infy_cleaned = clean_data(df_infy)
# Run the clean_data function for every DataFrame generated
for name, df_symbol in dfs.items():
    cleaned_df = clean_data(df_symbol)
    dfs[name] = cleaned_df

# Access and print individual cleaned DataFrames
for name, cleaned_df in dfs.items():
    print(f"Cleaned DataFrame for {name}:")
    print(cleaned_df)
# Print cleaned DataFrames
# print("Cleaned DataFrame for RELIANCE:")
# print(df_reliance_cleaned)

# print("\nCleaned DataFrame for TATASTEEL:")
# print(df_tatasteel_cleaned)

# print("\nCleaned DataFrame for INFY:")
# print(df_infy_cleaned)

# # Calculate the difference between 'high' and 'low' and store it in a new column
# df_cleaned_data['ideal_change_%'] = ((df_cleaned_data['high'] - df_cleaned_data['low'])/(df_cleaned_data['high']+df_cleaned_data['low']))*200
# df_cleaned_data['ideal_change_%']

# import matplotlib.pyplot as plt
# import seaborn as sns
# # # Filter columns with more than 10 unique numeric values
# # numeric_cols = df.select_dtypes(include='number')
# # cols_to_plot = numeric_cols.columns[numeric_cols.nunique() > 2]

# # # Plot histograms and PDFs for selected columns
# # for column in cols_to_plot:
# plt.figure(figsize=(8, 4))
# # Plot histogram
# plt.subplot(1, 2, 1)
# sns.histplot(df_cleaned_data['ideal_change_%'], kde=False, bins=50)
# plt.title(f'Histogram for ideal_change_%')

# # Plot PDF
# plt.subplot(1, 2, 2)
# sns.histplot(df_cleaned_data['ideal_change_%'], kde=True, bins=50, color='orange')
# plt.title(f'PDF for column')
# #print(df[column].skew())

# plt.tight_layout()
# plt.show()

Cleaned DataFrame for df_nifty100 eql wgt:
                      timestamp      open      high       low     close  \
0     2024-02-13 15:29:00+05:30  28030.50  28040.65  28028.10  28035.70
1     2024-02-13 15:28:00+05:30  28040.15  28043.80  28026.70  28031.45
2     2024-02-13 15:27:00+05:30  28051.75  28051.75  28040.45  28040.45
3     2024-02-13 15:26:00+05:30  28050.50  28055.90  28048.90  28052.45
4     2024-02-13 15:25:00+05:30  28049.80  28051.80  28044.95  28050.20
...                         ...       ...       ...       ...       ...
46554 2023-08-14 09:19:00+05:30  22440.65  22446.80  22437.85  22439.00
46555 2023-08-14 09:18:00+05:30  22455.00  22455.90  22441.30  22441.30
46556 2023-08-14 09:17:00+05:30  22469.40  22469.40  22451.95  22457.10
46557 2023-08-14 09:16:00+05:30  22517.95  22519.90  22469.15  22470.55
46558 2023-08-14 09:15:00+05:30  22640.55  22640.55  22518.40  22518.40

      volume open interest
0          0             0
1          0             0
2          0             0
3          0             0
4          0             0
...      ...           ...
46554      0             0
46555      0             0
46556      0             0
46557      0             0
46558      0             0

[46559 rows x 7 columns]
Cleaned DataFrame for df_nifty100 lowvol30:
                      timestamp      open      high       low     close  \
0     2024-02-13 15:29:00+05:30  17781.70     17789  17777.85  17780.55
1     2024-02-13 15:28:00+05:30  17791.75   17794.1  17777.40  17784.15
2     2024-02-13 15:27:00+05:30  17802.65   17804.8  17792.80  17793.45
3     2024-02-13 15:26:00+05:30  17799.95   17806.5  17798.40  17805.10
4     2024-02-13 15:25:00+05:30  17796.75   17800.4  17789.00  17799.00
...                         ...       ...       ...       ...       ...
46554 2023-08-14 09:19:00+05:30  14837.85  14841.45  14833.50  14836.95
46555 2023-08-14 09:18:00+05:30  14836.90   14841.4  14833.35  14837.85
46556 2023-08-14 09:17:00+05:30  14841.05   14841.3  14835.00  14836.55
46557 2023-08-14 09:16:00+05:30  14859.85  14859.85  14838.55  14841.40
46558 2023-08-14 09:15:00+05:30  14917.80  14919.65  14859.10  14859.10

      volume open interest
0          0             0
1          0             0
2          0             0
3          0             0
4          0             0
...      ...           ...
46554      0             0
46555      0             0
46556      0             0
46557      0             0
46558      0             0

[46559 rows x 7 columns]
Cleaned DataFrame for df_nifty alpha 50:
                      timestamp      open      high       low     close  \
0     2024-02-13 15:29:00+05:30  45305.25     45336  45294.45  45318.85
1     2024-02-13 15:28:00+05:30  45328.50   45338.4  45311.10  45311.10
2     2024-02-13 15:27:00+05:30  45354.80  45356.65  45325.25  45326.55
3     2024-02-13 15:26:00+05:30  45358.75   45361.7  45344.20  45354.25
4     2024-02-13 15:25:00+05:30  45332.55  45366.35  45331.05  45362.30
...                         ...       ...       ...       ...       ...
46554 2023-08-14 09:19:00+05:30  33372.05   33386.1  33362.25  33386.10
46555 2023-08-14 09:18:00+05:30  33373.60   33380.4  33350.10  33368.70
46556 2023-08-14 09:17:00+05:30  33396.70  33405.85  33375.85  33379.10
46557 2023-08-14 09:16:00+05:30  33507.80   33507.8  33369.70  33396.80
46558 2023-08-14 09:15:00+05:30  33759.05  33759.05  33513.65  33513.65

      volume open interest
0          0             0
1          0             0
2          0             0
3          0             0
4          0             0
...      ...           ...
46554      0             0
46555      0             0
46556      0             0
46557      0             0
46558      0             0

[46559 rows x 7 columns]
Cleaned DataFrame for df_nifty midcap 150:
                      timestamp      open      high       low     close  \
0     2024-02-13 15:29:00+05:30  17623.40  17626.60  17621.35  17626.60
1     2024-02-13 15:28:00+05:30  17633.30  17633.60  17623.00  17624.20
2     2024-02-13 15:27:00+05:30  17637.40  17638.90  17632.35  17633.05
3     2024-02-13 15:26:00+05:30  17638.60  17640.00  17637.30  17638.75
4     2024-02-13 15:25:00+05:30  17637.55  17640.50  17637.45  17638.60
...                         ...       ...       ...       ...       ...
46554 2023-08-14 09:19:00+05:30  14059.65  14067.10  14059.65  14066.15
46555 2023-08-14 09:18:00+05:30  14058.10  14063.00  14054.20  14059.90
46556 2023-08-14 09:17:00+05:30  14068.85  14071.20  14057.95  14057.95
46557 2023-08-14 09:16:00+05:30  14101.35  14101.35  14064.70  14069.60
46558 2023-08-14 09:15:00+05:30  14181.00  14181.00  14101.95  14101.95

      volume open interest
0          0             0
1          0             0
2          0             0
3          0             0
4          0             0
...      ...           ...
46554      0             0
46555      0             0
46556      0             0
46557      0             0
46558      0             0

[46559 rows x 7 columns]
Cleaned DataFrame for df_nifty smlcap 50:
                      timestamp     open     high      low    close volume  \
0     2024-02-13 15:29:00+05:30  7307.45  7311.20  7305.70  7310.40      0
1     2024-02-13 15:28:00+05:30  7309.50  7311.85  7307.20  7307.40      0
2     2024-02-13 15:27:00+05:30  7312.60  7313.80  7308.85  7309.25      0
3     2024-02-13 15:26:00+05:30  7318.30  7318.40  7311.45  7313.35      0
4     2024-02-13 15:25:00+05:30  7313.65  7318.20  7313.45  7317.80      0
...                         ...      ...      ...      ...      ...    ...
46554 2023-08-14 09:19:00+05:30  5299.00  5300.75  5295.70  5295.70      0
46555 2023-08-14 09:18:00+05:30  5299.05  5300.15  5293.25  5298.10      0
46556 2023-08-14 09:17:00+05:30  5303.70  5304.30  5297.40  5299.95      0
46557 2023-08-14 09:16:00+05:30  5313.20  5313.20  5297.00  5304.30      0
46558 2023-08-14 09:15:00+05:30  5345.35  5345.35  5313.75  5313.75      0

      open interest
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
46554             0
46555             0
46556             0
46557             0
46558             0

[46559 rows x 7 columns]
Cleaned DataFrame for df_nifty smlcap 250:
                      timestamp      open      high       low     close  \
0     2024-02-13 15:29:00+05:30  14645.45  14652.20  14642.40  14651.70
1     2024-02-13 15:28:00+05:30  14645.75  14650.15  14642.65  14646.10
2     2024-02-13 15:27:00+05:30  14648.70  14649.90  14644.85  14645.25
3     2024-02-13 15:26:00+05:30  14652.65  14653.95  14647.50  14649.10
4     2024-02-13 15:25:00+05:30  14646.60  14652.00  14646.60  14651.30
...                         ...       ...       ...       ...       ...
46554 2023-08-14 09:19:00+05:30  11275.95  11276.30  11271.15  11271.15
46555 2023-08-14 09:18:00+05:30  11278.25  11278.25  11271.00  11275.40
46556 2023-08-14 09:17:00+05:30  11284.90  11285.45  11278.35  11279.20
46557 2023-08-14 09:16:00+05:30  11317.70  11317.70  11278.15  11284.65
46558 2023-08-14 09:15:00+05:30  11369.95  11370.00  11318.60  11318.60

      volume open interest
0          0             0
1          0             0
2          0             0
3          0             0
4          0             0
...      ...           ...
46554      0             0
46555      0             0
46556      0             0
46557      0             0
46558      0             0

[46559 rows x 7 columns]
Cleaned DataFrame for df_nifty midsml 400:
                      timestamp      open      high       low     close  \
0     2024-02-13 15:29:00+05:30  16590.40  16594.85  16588.90  16594.85
1     2024-02-13 15:28:00+05:30  16596.50  16597.00  16589.95  16591.10
2     2024-02-13 15:27:00+05:30  16600.20  16601.00  16595.80  16596.15
3     2024-02-13 15:26:00+05:30  16602.50  16603.50  16600.00  16601.15
4     2024-02-13 15:25:00+05:30  16599.40  16603.05  16599.40  16601.95
...                         ...       ...       ...       ...       ...
46554 2023-08-14 09:19:00+05:30  13071.55  13075.65  13070.45  13073.60
46555 2023-08-14 09:18:00+05:30  13071.50  13074.10  13066.30  13071.50
46556 2023-08-14 09:17:00+05:30  13080.75  13082.20  13071.80  13071.80
46557 2023-08-14 09:16:00+05:30  13113.60  13113.60  13075.80  13081.10
46558 2023-08-14 09:15:00+05:30  13183.05  13183.05  13114.35  13114.35

      volume open interest
0          0             0
1          0             0
2          0             0
3          0             0
4          0             0
...      ...           ...
46554      0             0
46555      0             0
46556      0             0
46557      0             0
46558      0             0

[46559 rows x 7 columns]
Cleaned DataFrame for df_nifty200 qualty30:
                      timestamp      open      high       low     close  \
0     2024-02-13 15:29:00+05:30  18659.70  18664.15  18654.15  18658.20
1     2024-02-13 15:28:00+05:30  18667.40  18669.30  18655.25  18661.30
2     2024-02-13 15:27:00+05:30  18672.65  18672.90  18666.10  18666.10
3     2024-02-13 15:26:00+05:30  18668.80  18673.05  18667.50  18672.85
4     2024-02-13 15:25:00+05:30  18673.00  18673.20  18667.00  18668.15
...                         ...       ...       ...       ...       ...
46554 2023-08-14 09:19:00+05:30  15812.25  15816.70  15805.70  15808.60
46555 2023-08-14 09:18:00+05:30  15805.55  15816.55  15805.55  15813.15
46556 2023-08-14 09:17:00+05:30  15823.05  15823.95  15806.70  15806.70
46557 2023-08-14 09:16:00+05:30  15847.05  15847.40  15819.40  15821.95
46558 2023-08-14 09:15:00+05:30  15915.70  15918.05  15848.25  15848.70

      volume open interest
0          0             0
1          0             0
2          0             0
3          0             0
4          0             0
...      ...           ...
46554      0             0
46555      0             0
46556      0             0
46557      0             0
46558      0             0

[46559 rows x 7 columns]
Cleaned DataFrame for df_nifty finsrv25 50:
                      timestamp      open      high       low     close  \
0     2024-02-13 15:29:00+05:30  21985.05  22004.90  21980.30  21997.65
1     2024-02-13 15:28:00+05:30  21988.65  21992.65  21979.95  21987.05
2     2024-02-13 15:27:00+05:30  22003.40  22004.75  21982.70  21986.35
3     2024-02-13 15:26:00+05:30  22011.45  22011.50  21999.80  22003.20
4     2024-02-13 15:25:00+05:30  22021.55  22022.20  22007.35  22009.90
...                         ...       ...       ...       ...       ...
46554 2023-08-14 09:19:00+05:30  19939.45  19945.70  19932.20  19940.35
46555 2023-08-14 09:18:00+05:30  19953.15  19954.00  19938.20  19938.20
46556 2023-08-14 09:17:00+05:30  19963.55  19963.55  19950.85  19953.35
46557 2023-08-14 09:16:00+05:30  19980.55  19983.55  19955.85  19963.05
46558 2023-08-14 09:15:00+05:30  20062.70  20077.65  19983.85  19986.50

      volume open interest
0          0             0
1          0             0
2          0             0
3          0             0
4          0             0
...      ...           ...
46554      0             0
46555      0             0
46556      0             0
46557      0             0
46558      0             0

[46559 rows x 7 columns]
Cleaned DataFrame for df_nifty alphalowvol:
                      timestamp      open      high       low     close  \
0     2024-02-13 15:29:00+05:30  24991.65  25001.55  24987.45  24999.35
1     2024-02-13 15:28:00+05:30  25004.15  25009.95  24986.60  24996.05
2     2024-02-13 15:27:00+05:30  25019.20  25019.75  25004.05  25004.25
3     2024-02-13 15:26:00+05:30  25017.35  25023.20  25012.40  25021.55
4     2024-02-13 15:25:00+05:30  25009.55  25017.75  25000.30  25016.75
...                         ...       ...       ...       ...       ...
46554 2023-08-14 09:19:00+05:30  19147.10  19151.95  19141.65  19144.35
46555 2023-08-14 09:18:00+05:30  19158.85  19160.50  19145.85  19147.70
46556 2023-08-14 09:17:00+05:30  19161.45  19163.15  19149.50  19159.20
46557 2023-08-14 09:16:00+05:30  19191.15  19191.15  19152.65  19162.65
46558 2023-08-14 09:15:00+05:30  19262.80  19267.45  19192.35  19192.95

      volume open interest
0          0             0
1          0             0
2          0             0
3          0             0
4          0             0
...      ...           ...
46554      0             0
46555      0             0
46556      0             0
46557      0             0
46558      0             0

[46559 rows x 7 columns]
Cleaned DataFrame for df_nifty200momentm30:
                      timestamp      open      high       low     close  \
0     2024-02-13 15:29:00+05:30  29389.45  29395.60  29375.95  29393.40
1     2024-02-13 15:28:00+05:30  29398.65  29403.00  29388.05  29391.15
2     2024-02-13 15:27:00+05:30  29421.30  29423.55  29399.40  29399.40
3     2024-02-13 15:26:00+05:30  29422.35  29424.55  29418.05  29420.60
4     2024-02-13 15:25:00+05:30  29425.45  29428.00  29420.40  29422.95
...                         ...       ...       ...       ...       ...
46554 2023-08-14 09:19:00+05:30  21565.35  21579.55  21564.40  21579.55
46555 2023-08-14 09:18:00+05:30  21569.85  21569.85  21554.00  21564.15
46556 2023-08-14 09:17:00+05:30  21576.30  21579.85  21563.50  21569.70
46557 2023-08-14 09:16:00+05:30  21624.15  21624.15  21573.40  21580.15
46558 2023-08-14 09:15:00+05:30  21761.30  21761.30  21625.85  21625.85

      volume open interest
0          0             0
1          0             0
2          0             0
3          0             0
4          0             0
...      ...           ...
46554      0             0
46555      0             0
46556      0             0
46557      0             0
46558      0             0

[46559 rows x 7 columns]
Cleaned DataFrame for df_nifty100esgsecldr:
                      timestamp     open     high      low    close volume  \
0     2024-02-13 15:29:00+05:30  3584.20  3585.45  3583.80  3585.15      0
1     2024-02-13 15:28:00+05:30  3585.30  3585.40  3583.70  3584.40      0
2     2024-02-13 15:27:00+05:30  3586.45  3586.55  3584.90  3584.90      0
3     2024-02-13 15:26:00+05:30  3586.85  3587.10  3586.50  3586.90      0
4     2024-02-13 15:25:00+05:30  3587.60  3587.65  3586.60  3586.70      0
...                         ...      ...      ...      ...      ...    ...
46554 2023-08-14 09:19:00+05:30  3080.60  3081.65  3079.95  3080.85      0
46555 2023-08-14 09:18:00+05:30  3081.35  3082.00  3080.50  3080.65      0
46556 2023-08-14 09:17:00+05:30  3083.20  3083.20  3080.90  3081.40      0
46557 2023-08-14 09:16:00+05:30  3086.55  3086.95  3082.80  3083.20      0
46558 2023-08-14 09:15:00+05:30  3095.95  3096.30  3086.65  3086.85      0

      open interest
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
46554             0
46555             0
46556             0
46557             0
46558             0

[46559 rows x 7 columns]
Cleaned DataFrame for df_nifty100 esg:
                      timestamp     open     high      low    close volume  \
0     2024-02-13 15:29:00+05:30  4269.90  4271.40  4269.55  4270.90      0
1     2024-02-13 15:28:00+05:30  4270.80  4270.95  4268.90  4270.10      0
2     2024-02-13 15:27:00+05:30  4272.40  4272.50  4270.45  4270.45      0
3     2024-02-13 15:26:00+05:30  4272.50  4272.80  4272.20  4272.60      0
4     2024-02-13 15:25:00+05:30  4273.30  4273.40  4272.10  4272.30      0
...                         ...      ...      ...      ...      ...    ...
46554 2023-08-14 09:19:00+05:30  3619.15  3620.15  3618.45  3619.20      0
46555 2023-08-14 09:18:00+05:30  3619.60  3620.25  3619.00  3619.05      0
46556 2023-08-14 09:17:00+05:30  3622.60  3622.65  3619.75  3619.80      0
46557 2023-08-14 09:16:00+05:30  3628.30  3628.70  3622.80  3622.80      0
46558 2023-08-14 09:15:00+05:30  3644.15  3644.70  3628.50  3628.50      0

      open interest
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
46554             0
46555             0
46556             0
46557             0
46558             0

[46559 rows x 7 columns]
Cleaned DataFrame for df_nifty m150 qlty50:
                      timestamp      open      high       low     close  \
0     2024-02-13 15:29:00+05:30  20597.45  20602.75  20587.50  20595.95
1     2024-02-13 15:28:00+05:30  20605.85  20607.15  20591.55  20596.70
2     2024-02-13 15:27:00+05:30  20614.90  20614.90  20604.85  20606.65
3     2024-02-13 15:26:00+05:30  20606.00  20616.15  20606.00  20616.15
4     2024-02-13 15:25:00+05:30  20605.90  20609.00  20604.45  20606.35
...                         ...       ...       ...       ...       ...
46554 2023-08-14 09:19:00+05:30  18155.40  18162.50  18154.80  18157.95
46555 2023-08-14 09:18:00+05:30  18150.00  18162.60  18148.20  18158.15
46556 2023-08-14 09:17:00+05:30  18168.85  18175.95  18145.65  18150.60
46557 2023-08-14 09:16:00+05:30  18224.40  18224.70  18169.35  18169.35
46558 2023-08-14 09:15:00+05:30  18293.50  18293.50  18226.20  18226.20

      volume open interest
0          0             0
1          0             0
2          0             0
3          0             0
4          0             0
...      ...           ...
46554      0             0
46555      0             0
46556      0             0
46557      0             0
46558      0             0

[46559 rows x 7 columns]
Cleaned DataFrame for df_nifty india mfg:
                      timestamp      open      high       low     close  \
0     2024-02-13 15:29:00+05:30  11379.75  11382.55  11377.35  11380.45
1     2024-02-13 15:28:00+05:30  11382.10  11384.40  11378.85  11380.50
2     2024-02-13 15:27:00+05:30  11388.20  11388.40  11382.20  11382.20
3     2024-02-13 15:26:00+05:30  11386.25  11389.20  11385.75  11388.85
4     2024-02-13 15:25:00+05:30  11385.55  11385.95  11384.00  11385.95
...                         ...       ...       ...       ...       ...
46554 2023-08-14 09:19:00+05:30   9534.75   9537.75   9534.10   9536.50
46555 2023-08-14 09:18:00+05:30   9535.70   9537.35   9531.90   9535.30
46556 2023-08-14 09:17:00+05:30   9541.85   9543.10   9534.75   9536.85
46557 2023-08-14 09:16:00+05:30   9565.20   9565.30   9541.25   9541.65
46558 2023-08-14 09:15:00+05:30   9613.90   9613.90   9565.80   9565.80

      volume open interest
0          0             0
1          0             0
2          0             0
3          0             0
4          0             0
...      ...           ...
46554      0             0
46555      0             0
46556      0             0
46557      0             0
46558      0             0

[46559 rows x 7 columns]
Cleaned DataFrame for df_nifty200 alpha 30:
                     timestamp      open      high       low     close volume  \
0    2024-02-13 15:29:00+05:30  22272.20  22282.05  22264.10  22276.25      0
1    2024-02-13 15:28:00+05:30  22281.05  22286.20  22271.75  22275.00      0
2    2024-02-13 15:27:00+05:30  22298.40  22301.40  22281.50  22283.95      0
3    2024-02-13 15:26:00+05:30  22299.15  22304.65  22295.95  22301.05      0
4    2024-02-13 15:25:00+05:30  22298.20  22302.45  22295.80  22299.50      0
...                        ...       ...       ...       ...       ...    ...
8995 2024-01-10 09:19:00+05:30  21200.20  21200.20  21168.05  21180.95      0
8996 2024-01-10 09:18:00+05:30  21184.85  21201.50  21177.70  21201.50      0
8997 2024-01-10 09:17:00+05:30  21182.55  21193.95  21172.05  21188.65      0
8998 2024-01-10 09:16:00+05:30  21195.10  21195.10  21163.65  21180.15      0
8999 2024-01-10 09:15:00+05:30  21233.50  21238.40  21170.25  21203.65      0

     open interest
0                0
1                0
2                0
3                0
4                0
...            ...
8995             0
8996             0
8997             0
8998             0
8999             0


In [40]:
# import pandas as pd
# from datetime import datetime

# # Assuming you have already defined and cleaned your DataFrames: df_reliance_cleaned, df_tatasteel_cleaned, df_infy_cleaned

# # Function to save DataFrames to Excel files in a loop
# def save_all_to_excel(dfs):
#     for df_name, df in dfs.items():
#         # Remove timezone information from datetime columns
#         df_no_timezone = df.copy()
#         df_no_timezone['timestamp'] = df_no_timezone['timestamp'].dt.tz_localize(None)

#         file_name = f"{df_name}_historical_1minute_data.xlsx"
#         df_no_timezone.to_excel(file_name, index=False)
#         print(f"DataFrame '{df_name}' successfully saved to Excel file: {file_name}")

# # Save all DataFrames to individual Excel files
# save_all_to_excel(dfs)

In [41]:
# import pandas as pd
# from datetime import datetime
# from google.colab import files

# # Assuming you have already defined and cleaned your DataFrames: df_reliance_cleaned, df_tatasteel_cleaned, df_infy_cleaned

# # Function to save DataFrames to Excel files in a loop
# def save_all_to_excel(dfs, download_path):
#     for df_name, df in dfs.items():
#         # Remove timezone information from datetime columns
#         df_no_timezone = df.copy()
#         df_no_timezone['timestamp'] = df_no_timezone['timestamp'].dt.tz_localize(None)

#         file_name = f"{df_name}_historical_1minute_data.xlsx"
#         df_no_timezone.to_excel(file_name, index=False)
#         print(f"DataFrame '{df_name}' successfully saved to Excel file: {file_name}")

#         # Download the file to the specified path
#         files.download(file_name)

# # Define your DataFrames

# # Save all DataFrames to individual Excel files and download them
# download_path = r'C:\Users\LENOVO\OneDrive\Desktop\MY_ALGO\MY_DATA_FOR_NIFTY_500_1MINUTE'  # Update this with your desired download location
# save_all_to_excel(dfs, download_path)

In [42]:
!pip install Pygithub

Requirement already satisfied: Pygithub in /usr/local/lib/python3.10/dist-packages (2.2.0)
Requirement already satisfied: pynacl>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from Pygithub) (1.5.0)
Requirement already satisfied: requests>=2.14.0 in /usr/local/lib/python3.10/dist-packages (from Pygithub) (2.31.0)
Requirement already satisfied: pyjwt[crypto]>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from Pygithub) (2.8.0)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from Pygithub) (4.9.0)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/lib/python3.10/dist-packages (from Pygithub) (2.0.7)
Requirement already satisfied: Deprecated in /usr/local/lib/python3.10/dist-packages (from Pygithub) (1.2.14)
Requirement already satisfied: cryptography>=3.4.0 in /usr/local/lib/python3.10/dist-packages (from pyjwt[crypto]>=2.4.0->Pygithub) (42.0.2)
Requirement already satisfied: cffi>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from pynacl>=1.4.0->Pygithub) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.14.0->Pygithub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.14.0->Pygithub) (3.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.14.0->Pygithub) (2024.2.2)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.10/dist-packages (from Deprecated->Pygithub) (1.14.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.4.1->pynacl>=1.4.0->Pygithub) (2.21)

In [43]:
import pandas as pd
from datetime import datetime
from github import Github
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

# Function to save DataFrames to Excel files in a loop
def save_all_to_excel(dfs, repo_path, github_token):
    # Initialize the GitHub client
    g = Github(github_token)
    repo = g.get_repo(repo_path)

    for df_name, df in dfs.items():
        # Remove timezone information from datetime columns
        df_no_timezone = df.copy()
        df_no_timezone['timestamp'] = df_no_timezone['timestamp'].dt.tz_localize(None)

        file_name = f"{df_name}_historical_1minute_data.xlsx"
        file_path = '/content/' + file_name
        df_no_timezone.to_excel(file_path, index=False)
        print(f"DataFrame '{df_name}' successfully saved to Excel file: {file_path}")

        # Upload the file to GitHub
        with open(file_path, 'rb') as file:
            content = file.read()
            repo.create_file(file_name, f"Adding {file_name}", content)


# Specify your GitHub repository path and personal access token
repo_path = "LAXMINARAYAN-SHARMA/INDEX_DATA_NSE"
github_token = "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"

# Save all DataFrames to individual Excel files and upload them to GitHub
save_all_to_excel(dfs, repo_path, github_token)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
DataFrame 'df_nifty100 eql wgt' successfully saved to Excel file: /content/df_nifty100 eql wgt_historical_1minute_data.xlsx
DataFrame 'df_nifty100 lowvol30' successfully saved to Excel file: /content/df_nifty100 lowvol30_historical_1minute_data.xlsx
DataFrame 'df_nifty alpha 50' successfully saved to Excel file: /content/df_nifty alpha 50_historical_1minute_data.xlsx
DataFrame 'df_nifty midcap 150' successfully saved to Excel file: /content/df_nifty midcap 150_historical_1minute_data.xlsx
DataFrame 'df_nifty smlcap 50' successfully saved to Excel file: /content/df_nifty smlcap 50_historical_1minute_data.xlsx
DataFrame 'df_nifty smlcap 250' successfully saved to Excel file: /content/df_nifty smlcap 250_historical_1minute_data.xlsx
DataFrame 'df_nifty midsml 400' successfully saved to Excel file: /content/df_nifty midsml 400_historical_1minute_data.xlsx
DataFrame 'df_nifty200 qualty30' successfully saved to Excel file: /content/df_nifty200 qualty30_historical_1minute_data.xlsx
DataFrame 'df_nifty finsrv25 50' successfully saved to Excel file: /content/df_nifty finsrv25 50_historical_1minute_data.xlsx
DataFrame 'df_nifty alphalowvol' successfully saved to Excel file: /content/df_nifty alphalowvol_historical_1minute_data.xlsx
DataFrame 'df_nifty200momentm30' successfully saved to Excel file: /content/df_nifty200momentm30_historical_1minute_data.xlsx
DataFrame 'df_nifty100esgsecldr' successfully saved to Excel file: /content/df_nifty100esgsecldr_historical_1minute_data.xlsx
DataFrame 'df_nifty100 esg' successfully saved to Excel file: /content/df_nifty100 esg_historical_1minute_data.xlsx
DataFrame 'df_nifty m150 qlty50' successfully saved to Excel file: /content/df_nifty m150 qlty50_historical_1minute_data.xlsx
DataFrame 'df_nifty india mfg' successfully saved to Excel file: /content/df_nifty india mfg_historical_1minute_data.xlsx
DataFrame 'df_nifty200 alpha 30' successfully saved to Excel file: /content/df_nifty200 alpha 30_historical_1minute_data.xlsx
DataFrame 'df_niftym150momntm50' successfully saved to Excel file: /content/df_niftym150momntm50_historical_1minute_data.xlsx
DataFrame 'df_nifty it' successfully saved to Excel file: /content/df_nifty it_historical_1minute_data.xlsx
DataFrame 'df_nifty next 50' successfully saved to Excel file: /content/df_nifty next 50_historical_1minute_data.xlsx
DataFrame 'df_nifty bank' successfully saved to Excel file: /content/df_nifty bank_historical_1minute_data.xlsx
DataFrame 'df_nifty midcap 100' successfully saved to Excel file: /content/df_nifty midcap 100_historical_1minute_data.xlsx
DataFrame 'df_nifty 500' successfully saved to Excel file: /content/df_nifty 500_historical_1minute_data.xlsx
DataFrame 'df_nifty 100' successfully saved to Excel file: /content/df_nifty 100_historical_1minute_data.xlsx
DataFrame 'df_nifty midcap 50' successfully saved to Excel file: /content/df_nifty midcap 50_historical_1minute_data.xlsx
DataFrame 'df_nifty realty' successfully saved to Excel file: /content/df_nifty realty_historical_1minute_data.xlsx
DataFrame 'df_nifty infra' successfully saved to Excel file: /content/df_nifty infra_historical_1minute_data.xlsx
DataFrame 'df_nifty energy' successfully saved to Excel file: /content/df_nifty energy_historical_1minute_data.xlsx
DataFrame 'df_nifty fmcg' successfully saved to Excel file: /content/df_nifty fmcg_historical_1minute_data.xlsx
DataFrame 'df_nifty mnc' successfully saved to Excel file: /content/df_nifty mnc_historical_1minute_data.xlsx
DataFrame 'df_nifty pharma' successfully saved to Excel file: /content/df_nifty pharma_historical_1minute_data.xlsx
DataFrame 'df_nifty pse' successfully saved to Excel file: /content/df_nifty pse_historical_1minute_data.xlsx
DataFrame 'df_nifty psu bank' successfully saved to Excel file: /content/df_nifty psu bank_historical_1minute_data.xlsx
DataFrame 'df_nifty serv sector' successfully saved to Excel file: /content/df_nifty serv sector_historical_1minute_data.xlsx
DataFrame 'df_india vix' successfully saved to Excel file: /content/df_india vix_historical_1minute_data.xlsx
DataFrame 'df_nifty auto' successfully saved to Excel file: /content/df_nifty auto_historical_1minute_data.xlsx
DataFrame 'df_nifty metal' successfully saved to Excel file: /content/df_nifty metal_historical_1minute_data.xlsx
DataFrame 'df_nifty media' successfully saved to Excel file: /content/df_nifty media_historical_1minute_data.xlsx
DataFrame 'df_nifty smlcap 100' successfully saved to Excel file: /content/df_nifty smlcap 100_historical_1minute_data.xlsx
DataFrame 'df_nifty 200' successfully saved to Excel file: /content/df_nifty 200_historical_1minute_data.xlsx
DataFrame 'df_nifty div opps 50' successfully saved to Excel file: /content/df_nifty div opps 50_historical_1minute_data.xlsx
DataFrame 'df_nifty commodities' successfully saved to Excel file: /content/df_nifty commodities_historical_1minute_data.xlsx
DataFrame 'df_nifty consumption' successfully saved to Excel file: /content/df_nifty consumption_historical_1minute_data.xlsx
DataFrame 'df_nifty fin service' successfully saved to Excel file: /content/df_nifty fin service_historical_1minute_data.xlsx
DataFrame 'df_nifty50 div point' successfully saved to Excel file: /content/df_nifty50 div point_historical_1minute_data.xlsx
DataFrame 'df_nifty100 liq 15' successfully saved to Excel file: /content/df_nifty100 liq 15_historical_1minute_data.xlsx
DataFrame 'df_nifty cpse' successfully saved to Excel file: /content/df_nifty cpse_historical_1minute_data.xlsx
DataFrame 'df_nifty growsect 15' successfully saved to Excel file: /content/df_nifty growsect 15_historical_1minute_data.xlsx
DataFrame 'df_nifty50 pr 2x lev' successfully saved to Excel file: /content/df_nifty50 pr 2x lev_historical_1minute_data.xlsx
DataFrame 'df_nifty50 pr 1x inv' successfully saved to Excel file: /content/df_nifty50 pr 1x inv_historical_1minute_data.xlsx
DataFrame 'df_nifty50 tr 2x lev' successfully saved to Excel file: /content/df_nifty50 tr 2x lev_historical_1minute_data.xlsx
DataFrame 'df_nifty50 tr 1x inv' successfully saved to Excel file: /content/df_nifty50 tr 1x inv_historical_1minute_data.xlsx
DataFrame 'df_nifty50 value 20' successfully saved to Excel file: /content/df_nifty50 value 20_historical_1minute_data.xlsx
DataFrame 'df_nifty mid liq 15' successfully saved to Excel file: /content/df_nifty mid liq 15_historical_1minute_data.xlsx
DataFrame 'df_nifty pvt bank' successfully saved to Excel file: /content/df_nifty pvt bank_historical_1minute_data.xlsx
DataFrame 'df_nifty100 qualty30' successfully saved to Excel file: /content/df_nifty100 qualty30_historical_1minute_data.xlsx
DataFrame 'df_nifty gs 8 13yr' successfully saved to Excel file: /content/df_nifty gs 8 13yr_historical_1minute_data.xlsx
DataFrame 'df_nifty gs 10yr' successfully saved to Excel file: /content/df_nifty gs 10yr_historical_1minute_data.xlsx
DataFrame 'df_nifty gs 10yr cln' successfully saved to Excel file: /content/df_nifty gs 10yr cln_historical_1minute_data.xlsx
DataFrame 'df_nifty gs 4 8yr' successfully saved to Excel file: /content/df_nifty gs 4 8yr_historical_1minute_data.xlsx
DataFrame 'df_nifty gs 11 15yr' successfully saved to Excel file: /content/df_nifty gs 11 15yr_historical_1minute_data.xlsx
DataFrame 'df_nifty gs 15yrplus' successfully saved to Excel file: /content/df_nifty gs 15yrplus_historical_1minute_data.xlsx
DataFrame 'df_nifty gs compsite' successfully saved to Excel file: /content/df_nifty gs compsite_historical_1minute_data.xlsx
DataFrame 'df_nifty healthcare' successfully saved to Excel file: /content/df_nifty healthcare_historical_1minute_data.xlsx
DataFrame 'df_nifty consr durbl' successfully saved to Excel file: /content/df_nifty consr durbl_historical_1minute_data.xlsx
DataFrame 'df_nifty oil and gas' successfully saved to Excel file: /content/df_nifty oil and gas_historical_1minute_data.xlsx
DataFrame 'df_nifty500 multicap' successfully saved to Excel file: /content/df_nifty500 multicap_historical_1minute_data.xlsx
DataFrame 'df_nifty largemid250' successfully saved to Excel file: /content/df_nifty largemid250_historical_1minute_data.xlsx
DataFrame 'df_nifty mid select' successfully saved to Excel file: /content/df_nifty mid select_historical_1minute_data.xlsx
DataFrame 'df_nifty total mkt' successfully saved to Excel file: /content/df_nifty total mkt_historical_1minute_data.xlsx
DataFrame 'df_nifty microcap250' successfully saved to Excel file: /content/df_nifty microcap250_historical_1minute_data.xlsx
DataFrame 'df_nifty ind digital' successfully saved to Excel file: /content/df_nifty ind digital_historical_1minute_data.xlsx